@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

/* Inicio estilo grid index */
#grilla {
  display: grid;
  grid-template-areas: "header" "section-index" "footer";
  grid-template-rows: auto auto auto;
  grid-template-columns: auto; }

/* Fin estilo grid index */
/* Inicio definicion areas grid index */
header {
  grid-area: header; }

.section-index {
  grid-area: section-index; }

footer {
  grid-area: footer; }

/* Fin definicion areas grid index */
/* Inicio estilo grid galeria */
#grilla-galeria {
  display: grid;
  grid-template-areas: "header header" "titulo titulo" "aside video-uno" "aside video-dos" "aside fotos" "footer footer";
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-columns: 280px auto;
  grid-column-gap: 5px;
  grid-row-gap: 5px; }

/* Fin estilo grid galeria */
/* Inicio definicion areas grid galeria */
header {
  grid-area: header; }

.titulo {
  grid-area: titulo; }

.fotos {
  grid-area: fotos; }

.video-uno {
  grid-area: video-uno; }

.video-dos {
  grid-area: video-dos; }

.campaña-socio {
  grid-area: aside; }

footer {
  grid-area: footer; }

/* Fin definicion areas grid galeria */
/* Inicio MQ 768px */
@media screen and (max-width: 768px) {
  /* Inicio estilo grid galeria 768px */
  #grilla-galeria {
    display: grid;
    grid-template-areas: "header" "titulo" "video-uno" "video-dos" "fotos" "footer";
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: auto;
    grid-column-gap: 5px;
    grid-row-gap: 5px; }
  /* Fin estilo grid galeria 768px */ }

/* Fin MQ 768px */
.body-index {
  background: linear-gradient(to bottom, red, black); }

/* Inicio estilo parrafos index desktop */
.parrafo-index {
  color: #ffffff;
  text-shadow: 2px 2px 2px black;
  font-size: 20px; }
  .parrafo-index:hover {
    background-color: white;
    color: black;
    text-shadow: none; }

/* Fin estilo parrafos index desktop */
/* Inicio MQ 768px */
@media screen and (max-width: 768px) {
  /* Inicio estilo parrafos index 768px */
  .parrafo-index {
    font-size: 15px; }
  /* Fin estilo parrafos index 768px */ }

/* Fin MQ 768px */
@media screen and (max-width: 426px) {
  /* Inicio estilo parrafos index 426px */
  .parrafo-index {
    font-size: 10px; }
  /* Fin estilo parrafos index 426px */ }

/* Inicio estilo body galeria */
.body-galeria {
  background: linear-gradient(to top, tomato, black, tomato); }

/* Fin estilo body galeria */
/* Inicio estilo aside */
aside {
  position: fixed;
  margin-top: 230px;
  margin-left: 20px; }

/* Fin estilo aside */
/* Inicio estilo img y vid */
.media {
  width: 840px;
  height: 473px;
  border: 2px solid white;
  margin: 4px;
  transition: 1s; }

.video {
  width: 840px;
  height: 473px;
  border: 2px solid white;
  margin: 4px;
  transition: 1s; }

/* Fin estilo img y vid */
/* Inicio MQ 768px */
@media screen and (max-width: 768px) {
  /* Inicio estilo galeria img y vid 768 */
  .video {
    width: 530px;
    height: 315px;
    margin-left: 15%;
    margin-right: 15%; }
  .media {
    width: 530px;
    height: 315px; }
  /* Fin estilo galeria img y vid768px */
  /* Inicio estilo aside 768px */
  .campaña-socio {
    display: none; }
  /* Fin estilo galeria aside 768px */ }

/* Fin MQ 768px */
/* Inicio MQ 426px */
@media screen and (max-width: 426px) {
  /* Inicio estilo galeria img y vid 426px */
  .video {
    width: 398px;
    height: 237px;
    margin-left: 2%;
    margin-right: 2%; }
  .media {
    width: 398px;
    height: 237px; }
  /* Fin estilo galeria img y vid 426px */ }

/* Fin MQ 426px */
/* Inicio estilo header */
nav {
  background: linear-gradient(to top, black, white);
  border-top: 2px solid white;
  border-bottom: 2px solid white; }
  nav .nav-a {
    text-decoration: none;
    background-color: #f74520;
    color: white;
    border-radius: 20px;
    padding: 7px;
    margin: 7px;
    font-style: italic;
    font-size: 25px;
    transition: .5s; }
    nav .nav-a:hover {
      background-color: white;
      color: black;
      font-weight: bolder;
      font-size: 35px; }
  nav .boton {
    color: white;
    background-color: #f74520;
    font-style: italic;
    font-size: 25px;
    transition: .5s; }
    nav .boton:hover {
      color: black;
      background-color: white; }

/* Fin estilo header */
/* Inicio estilo footer */
footer {
  width: 100%;
  background-color: black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 50px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding-top: 20px;
  padding-bottom: 20px; }
  footer ul {
    list-style: none;
    font-size: 20px; }
  footer .footer-lista-redes {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    margin-top: 10px; }
    footer .footer-lista-redes li {
      margin: 2px; }
  footer a {
    text-decoration: none;
    color: white;
    transition: .5s; }
    footer a:hover {
      font-size: 30px;
      color: red; }

/* Fin estilo footer */
/* Inicio estilo h1 */
h1 {
  color: white;
  text-shadow: 2px 2px 2px black;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-style: italic;
  font-family: sans-serif;
  text-transform: uppercase;
  animation-name: titulo;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: .5s; }

@keyframes titulo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* Fin estilo h1 */
/* Inicio MQ 768px */
@media screen and (max-width: 768px) {
  /* Inicio estilo header 768px */
  nav .nav-a {
    background-color: none;
    border-radius: 10px;
    padding: 2px;
    margin: 2px;
    font-size: 20px; }
  .pad {
    padding: 2px; }
  /* Fin estilo header 768px */
  /* Inicio estilo footer 768px */
  footer ul {
    list-style: none;
    font-size: 20px; }
  /* Fin estilo footer 768px */
  /* Inicio estilo h1 768px */
  h1 {
    font-size: 40px; }
  /* Fin estilo h1 768px */ }

/* Inicio MQ 426px */
@media screen and (max-width: 426px) {
  /* Inicio estilo header 426px */
  header .nav-a {
    font-size: 15px; }
  /* Fin estilo header 426px */
  /* Inicio estilo footer 426px */
  footer {
    margin-top: 30px; }
    footer ul {
      font-size: 15px; }
  /* Fin estilo footer 426px */
  /* Inicio estilo h1 426px */
  h1 {
    font-size: 30px; }
  /* Fin estilo h1 426px */ }
