// Inicio estilo body index
.body-index {
    background: linear-gradient(to bottom, red, black)
}
// Fin estilo body index

/* Inicio estilo parrafos index desktop */
.parrafo-index {
    color: #ffffff;
    text-shadow: 2px 2px 2px black;
    font-size: 20px;

    &:hover {
        background-color: white;
        color: black;
        text-shadow: none;
    }
}

/* Fin estilo parrafos index desktop */

/* Inicio MQ 768px */
@media screen and (max-width: 768px) {

    /* Inicio estilo parrafos index 768px */
    .parrafo-index {
        font-size: 15px;
    }

    /* Fin estilo parrafos index 768px */
}
/* Fin MQ 768px */
@media screen and (max-width: 426px) {

    //Fin estilo body index 426px 

    /* Inicio estilo parrafos index 426px */
    .parrafo-index {
        font-size: 10px;
    }

    /* Fin estilo parrafos index 426px */
}